.container{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.card{
    margin: 5px;
    height: 70px;
    justify-content: center;
}

.flex-card{
    display: flex;
    justify-content: space-between;
}

.left-card{
    padding: 5px;
}

button{
    background-color: #002147;
    color: #ffff;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 12px;
}